In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("data.csv", delimiter="|")

In [19]:
df[['numerator','denominator']] = df["probability"].str.split("in", expand=True)

In [21]:
df['denominator'] = df['denominator'].str.strip()

In [22]:
df[['denominator']] = df[['denominator']].apply(pd.to_numeric)

In [24]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

f, ax = plt.subplots(figsize=(10, 5))
sns.set(style="darkgrid")

g = sns.countplot(x="denominator", data=df).set_title('Number of documents that are labelled with each topic number')
ax.set(xlabel='Topic Number', ylabel='Number of documents')
f.figure

/home/anant/anaconda3/lib/python3.6/site-packages/seaborn/categorical.py:1460: FutureWarning: remove_na is deprecated and is a private function. Do not use.
  stat_data = remove_na(group_data)

In [25]:
df['denominator'].value_counts()

100                    74
1000                   15
10000                   6
100000                  6
4                       5
10                      4
250                     4
11000000                4
2                       4
5                       3
17                      3
20000                   3
25                      2
1000000                 2
200                     2
75                      2
30                      2
20000000                2
4000                    2
5000                    2
21000000                2
3000                    2
10287                   1
13                      1
15                      1
3748067                 1
800000.                 1
9                       1
7                       1
30000                   1
                       ..
161856                  1
403                     1
1100                    1
365                     1
21                      1
12000000                1
500000                  1
9223372036854775808     1
70000                   1
101083                  1
645                     1
2.1                     1
13983816                1
1                       1
8145060                 1
350                     1
84                      1
24                      1
80                      1
15000                   1
66                      1
96                      1
1600000                 1
36                      1
9799                    1
13983815                1
60                      1
10737573                1
49000                   1
400000000000000         1
Name: denominator, Length: 97, dtype: int64